<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    
    <!--bootsrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <!-- Bootsnav -->
    <link rel="stylesheet" href="~/Content/css/bootsnav.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootsrap.min.js"></script>
    <!-- Fancybox -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.fancybox.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <link rel="stylesheet" href="~/Content/css/font.css" />
</head>
<body>
   
    <header>
        <!-- Top Navbar -->
        <div class="top_nav">
            <div class="container">
                <ul class="list-inline info hadi">
                    <li><a href="#"><span class="fa fa-phone"></span><span class="topNavItem">0015545876</span> </a></li>
                    <li><a href="#"><span class="fa fa-envelope"></span> persia.group.shiraz@gmail.com</a></li>
                    <li><a href="#"><span class="fa fa-map-marker"></span><span class="topNavItem">شیراز کیلومتر 10 جاده شیراز کوار روبروی شرکت فارس تارمه</span></a></li>
                </ul>
                <ul class="list-inline social_icon">
                    <li><a href=""><span class="fa fa-facebook"></span></a></li>
                    <li><a href=""><span class="fa fa-twitter"></span></a></li>
                    <li><a href=""><span class="fa fa-behance"></span></a></li>
                    <li><a href=""><span class="fa fa-google"></span></a></li>
                    <li><a href=""><span class="fa fa-whatsapp"></span></a></li>
                    <li><a href=""><span class="fa fa-youtube"></span></a></li>
                </ul>
            </div>
        </div><!-- Top Navbar end -->
        <!-- Navbar -->
        <nav  class="navbar bootsnav">
            <!-- Top Search
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        -->
            <div style="direction:rtl" class="container">
                <!-- Atribute Navigation -->
                <!--    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li> -->
                <!-- Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="#"><img class="logo" src="~/Content/images/logo2.png" width="10" height="100" alt=""></a>
                </div>
                <!-- Navigation -->

                <div class="collapse navbar-collapse" id="navbar-menu">

                    <ul class="nav navbar-nav menu">
                        <li><a href="#contact_form">تماس با ما</a></li>
                        <li><a href="#portfolio">اهداف</a></li>
                        <li><a href="#services">خدمات</a></li>
                        <li><a href="#about">درباره ما</a></li>
                        <li><a href="~/Home/index">خانه </a></li>
                    </ul>

                </div>

            </div>
        </nav><!-- Navbar end -->
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>

    </footer>
    <!-- JavaScript -->
    <script src="~/Scripts/jquery-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Bootsnav js -->
    <script src="~/Scripts/bootsnav.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/Scripts/isotope.js"></script>
    <script src="~/Scripts/isotope-active.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>

    <script src="~/Scripts/jquery.scrollUp.min.js"></script>

    <script src="~/Scripts/main.js"></script>
</body>
</html>
